#users .user {
    margin:0.1em 0 !important;
}
#users .user .card-body {
    display: none;
}
#users .user .card-header {
    padding: 0.3em 1em;
}
#users .user .card-header h4 {
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}
